<h3>Add CreditCard</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userId">userId</label>
      <input type="text" class="form-control" id="userId" required [(ngModel)]="creditcard.userId" name="userId">
    </div>

    <div class="form-group">
      <label for="cardNo">Card Number</label>
      <input type="text" class="form-control" id="cardNo" required [(ngModel)]="creditcard.cardNo" name="cardNo">
    </div>

    <div class="form-group">
      <label for="cvv">Cvv</label>
      <input type="text" class="form-control" id="cvv" required [(ngModel)]="creditcard.cvv" name="cvv">
    </div>
    <div class="form-group">
        <label for="expiryDate">Expiry Date</label>
        <input type="date" class="form-control" id="expiryDate" required [(ngModel)]="creditcard.expiryDate" name="expiryDate">
      </div>
      <div class="form-group">
        <label for="cardType">Card Type</label><br>
        <input type="radio" value="vissa" id="cardType" required [(ngModel)]="creditcard.cardType" name="cardType" > Visa
        <input type="radio" value="master" id="cardType"required [(ngModel)]="creditcard.cardType" name="cardType" >MasterCard
        <input type="radio" value="rupay" id="cardType"required [(ngModel)]="creditcard.cardType" name="cardType" >Rupay
      <br><br>
    <button type="submit" class="btn btn-success">Submit</button>
 
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>

</div>
