<h3>Saaogn CreditCard</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="creditcard.id" name="id">
    </div>

    <div class="form-group">
      <label for="cardnumber">Card Number</label>
      <input type="text" class="form-control" id="cardnumbere" required [(ngModel)]="creditcard.cardnumber" name="cardnumber">
    </div>

    <div class="form-group">
      <label for="cvv">Cvv</label>
      <input type="text" class="form-control" id="cvv" required [(ngModel)]="creditcard.cvv" name="cvv">
    </div>
    <div class="form-group">
        <label for="expirtdate">Expiry Date</label>
        <input type="date" class="form-control" id="expirydate" required [(ngModel)]="creditcard.expirydate" name="expitydate">
      </div>
      <div class="form-group">
        <label for="cardtype">Card Type</label><br>
        <input type="radio" value="vissa" id="cardtype" required [(ngModel)]="creditcard.cardtype" name="cardtype" > Vissa
        <input type="radio" value="master" id="cardtype"required [(ngModel)]="creditcard.cardtype" name="cardtype" >Master
        <input type="radio" value="rupay" id="cardtype"required [(ngModel)]="creditcard.cardtype" name="cardtype" >rupay
      <br><br>
    <button type="submit" class="btn btn-success">Submit</button>
 
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>

</div>
