<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>CreditCard List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Card Numner</th>
            <th>Expirydate</th>
            <th>Cvv</th>
            <th>CardType</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let creditcard of creditcard | async" >
            <td>{{creditcard.id}}</td>
            <td>{{creditcard.cardnumber}}</td>
            <td>{{creditcard.expirydate}}</td>
            <td>{{creditcard.cvv}}</td>
            <td>{{creditcard.cardtype}}</td>
            <td><button (click)="deleteCreditCard(creditcard.id)" class="btn btn-danger">Delete</button>
                <button (click)="creditCardDetails(creditcard.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
