
<div class="col-md-6 user-container">
    <h2 style="margin: auto"> Address Details</h2>
   
    <table class="table table-striped">
      <thead>
      <tr>
        <th>addressId</th>
        <th>UserId</th>
        <th>City</th>
        <th>State</th>
        <th>PinCode</th>
       
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let adrs of address">
        <td>{{adrs.addressId}}</td>
         <td>{{adrs.userId}}</td>
        <td>{{adrs.city}}</td>
        <td>{{adrs.state}}</td>
        <td>{{adrs.pinCode}}</td>
     

        
       <td><a [routerLink]="['/updateaddress']"> Edit</a>   
          <a [routerLink]="['/deleteAddressById']"> Delete</a> 
        </td> 
      
         <!-- <td><a button class="btn btn-success" (click)="deleteAddress"> Delete</button>
          <button class="btn btn-success" (click)="editAddress" style="margin-left: 20px;"> Edit</button></td>  -->
      </tr>
      </tbody>
    </table>
  </div>
  