
<h1> AddressForm</h1>

<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
   <div>
    
    <label for="userId"> UserId</label><br/>
    <input type="number" id="userId" name="userID" placeholder="userId..." formControlName="userId"><br/>
 </div>

<br>

    <div>
        <label for="city"> City</label><br/>
        <input type="text" id="city" name="city" placeholder="City..." formControlName="city"><br/>
        <div *ngIf="!city?.valid && (city?.dirty || city?. touched)">
            <div [hidden]="!city?.errors?.['required']">
                City is required....!
            </div>
       
        </div> 
    </div>
    <br>
    
    <div>
        <label for="state"> State</label><br/>
        <input type="text" id="state" name="state" placeholder="State..."  formControlName="state" required ><br/>
       
        <div *ngIf="!state?.valid && (state?.dirty || state?.touched)">
           <div [hidden]="!state?.errors?.['required']">
            State is required....!
        </div>
        </div>
        
    </div>
    <br>
  
    <div>
        <label for="pinCode"> Pincode</label><br/>
        <input type="number" id="pincode" name="pinCode" formControlName="pinCode"><br/>
        <div *ngIf="!pinCode?.valid && (pinCode?.dirty || pinCode?.touched)">
            <div [hidden]="!pinCode?.errors?.['required']">
                Pincode is required...!
            </div>
        
    </div>
    </div>
    <br>
  
    <button type="submit">Submit</button>
    
</form>




