
<h1> AddressForm</h1>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success..!</strong> Address Added Successfully..
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  
    <div class="form-group" > 
    <label for="userId" class="control-label"> UserId</label><br/>
    <input type="number"  id="userId" name="UserId" placeholder="userId..." formControlName="userId"><br/>
    <div *ngIf="!userId?.valid && (userId?.dirty || userId?. touched)">
        <div [hidden]="!userId?.errors?.['required']"  class="alert alert-danger" style="color: red;">
            UserID is required....!
 </div>
</div>
    </div>
<br>

    <div>

        <label for="city"> City</label><br/>
        <input type="text" id="city" name="city" placeholder="City..." formControlName="city"><br/>
        <div *ngIf="!city?.valid && (city?.dirty || city?. touched)">
            <div [hidden]="!city?.errors?.['required']"  class="alert alert-danger" style="color: red;">
                City is required....!
            </div>
         
        </div> 
    </div>
    <br>
    
    <div>
        <label for="state"> State</label><br/>
        <input type="text" id="state" name="state" placeholder="State..."  formControlName="state" required ><br/>
       
        <div *ngIf="!state?.valid && (state?.dirty || state?.touched)">
           <div [hidden]="!state?.errors?.['required']"  class="alert alert-danger" style="color: red;">
            State is required....!
        </div>
        </div>
        
    </div>
    <br>
  
    <div>
        <label for="pinCode"> Pincode</label><br/>
        <input type="number" id="pincode" name="pinCode" formControlName="pinCode"  maxlength="6"><br/>
        <div *ngIf="!pinCode?.valid && (pinCode?.dirty || pinCode?.touched)">
            <div [hidden]="!pinCode?.errors?.['required']" >
                Pincode is required...!
            </div>
        
    </div>
    </div>
    <br>
  
    <button type="submit">Submit</button>
    
</form>




