<h1> Address Form</h1>
<form>
 <div>
    <label for="userId"> UserId</label>
    <input type="number" id="userId" name="userID" placeholder="userId..." formControlName="userId">
 </div>
    <div>
        <label for="city"> City</label>
        <input type="text" id="city" name="city" placeholder="City..." formControlName="city">
        <div *ngIf="!city?.valid && (city?.dirty || city?. touched)">
            <div [hidden]="!city?.errors?.['required']">
                City is required....!
            </div>
        </div> 
    </div>
    <br>
    <div>
        <label for="state"> State</label>
        <input type="text" id="state" name="state" placeholder="State..."  formControlName="state">
       
        <div *ngIf="!state?.valid && (state?.dirty || state?.touched)">
           <div [hidden]="!state?.errors?.['required']">
            State is required....!
        </div>
        </div>
    </div>
    <br>
    <div>
        <label for="pinCode"> Pincode</label>
        <input type="number" id="pincode" name="pinCode" formControlName="pinCode">
        <div *ngIf="!pinCode?.valid && (pinCode?.dirty || pinCode?.touched)">
            <div [hidden]="!pinCode?.errors?.['required']">
                Pincode is required...!
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>




