
    <h1 >Registration Form</h1>
    <form >
       
      <div>
          <label for="firstname">First Name </label>
            <input type="text" id="firstname" name="firstname" placeholder="First Name.." formControlName="firstname">
           <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)">
              <div [hidden]="!firstname?.errors?.['required']">
                  First name is required...!
              </div>
          </div>
          </div>
         <br>
           <div>
            <label for="lastname">Last Name </label>
            <input type="text" id="lastname" name="lastname" placeholder="Last Name.." formControlName="lastname">
         
            <div *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)">
              <div [hidden]="!lastname?.errors?.['required']">
                  Last name is required...!
              </div>
           </div>
         </div>
         <br>
         <div>
          <label for="dateofbirth">Date Of Birth</label>
          <input type="date" id="dateofbirth" name="dateofbirth" formControlName="dateofbirth">
          <div *ngIf="!dateofbirth?.valid && (dateofbirth?.dirty || dateofbirth?.touched)">
            <div [hidden]="!dateofbirth?.errors?.['required']">
                Date Of Birth is required...!
            </div>
         </div>
         </div>
         <br>
         <div>
          <label for="phonenumber">Phone Number</label>
          <input type="phonenumber" id="phonenumber" name="phonenumber" placeholder="phone Number..." formControlName="phonenumber">
          <div *ngIf="!phonenumber?.valid && (phonenumber?.dirty || phonenumber?.touched)">
            <div [hidden]="!phonenumber?.errors?.['required']">
                phone Number is required...!
            </div>
         </div>
         </div>
         <br>
      <div>
            <label for="email">Email </label>
            <input type="text" id="email" name="email" placeholder="Email..." formControlName="email">
         
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
              <div [hidden]="!email?.errors?.['required']">
                 Email is required...!
              </div>
             
              <div [hidden]="!email?.errors?.['email']">
                 <h4 style="color:blue ;"> Please enter a valid email id...!</h4>
               </div>
         
        
          <br><br>
         {{addregistrationForm.valid}}
          <p>
            <button [disabled]="!addregistrationForm.valid">Submit</button>
          </p>
      
         
