<div class="show">
    <h4>Enter Card Number</h4>
    <input type="number" [(ngModel)]="cardno" minlength="16" maxlength="16" placeholder="Enter card number">
    <div><b>Start Date</b><input type="date" [(ngModel)]="startDate"></div>
    <div><b>End Date</b><input type="date" [(ngModel)]="endDate"></div>
    <button (click)="callFilterTrans()">apply</button>
   
</div>
<button (click)="onSubmit()">view</button>
<table class="table">
    <thead>
        <tr>
            <th>Card Number</th>
            <th>Transaction Date</th>
            <th>Description</th>
            <th>Debited Balance</th>
            <th>Reedeem points</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of filteredTransaction">
            <td>{{transaction.cardNo}}</td>
            <td>{{displayDate(transaction.transactionDate)}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.debitedBalance | currency:'INR':'symbol'}}</td>
            <td>{{transaction.redeemPoints}}</td>
        </tr>
    </tbody>
</table>