<h1>Delete Card..</h1>
<div *ngIf="alert" class="alert alert-Succes alert-dismissible fade show" role="alert">
    <strong>Succes!</strong> Card Delete successfully.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div>
    <h4>Enter cardNo</h4>
    <input type="number" [(ngModel)]="cardNo">
</div>
<div>
<button (click)="onSubmit()">submit</button>
</div>
<br>
<div>
  <td> <a routerLink="/getcreditcard" ><button >Back</button> </a> </td>
</div>
