<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel two">
    <div class="form-header">
      <h1>Perform Transaction</h1>
    </div>
    <div class="form-content">
      <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="cardNo">Card Number</label>
          <input id="cardNo" type="number" formControlName="cardNo" name="cardNo" required="required" />
        </div>

        <div class="form-group">
          <label for="transactionDate">Date</label>
          <input id="transactionDate" type="date" formControlName="transactionDate" name="transactionDate" required="required" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input id="description" type="text" formControlName="description" name="description" required="required"/>
        </div>

        <div class="form-group">
          <label for="debitedBalance">balance</label>
          <input id="debitedBalance" type="number" formControlName="debitedBalance" name="debitedBalance" required="required"/>
        </div>

        <div class="form-group">
          <label for="redeemPoints">Points</label>
          <input id="redeemPoints" type="number" formControlName="redeemPoints" name="redeemPoints" required="required"/>
        </div>

        <div class="form-group">
          <button type="submit">Pay</button>
        </div>


      </form>


    </div>
  </div>
</div>