<header><h1>{{pageTitle}}</h1></header>

<!-- <h1>Welcome To  Financial Orgnaization Rating System</h1> -->
<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'></a>
    <ul class='nav nav-pills' >
      <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome' style="margin-left: 87px ">Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/login'style="margin-left: 1045px " >Login</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/registration' >Registration</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/address'> Address </a></li>
    </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
   <app-getall-registration></app-getall-registration> <!--this should be removed -->
   <app-getall-address></app-getall-address>   <!-----  this should be removed -->
</div>
<app-creditcard></app-creditcard>