<header><h1>{{pageTitle}}</h1></header>

<!-- <h1>Welcome To  Financial Orgnaization Rating System</h1> -->
<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'></a>
    <ul class='nav nav-pills' >
      <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/login'>Login</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/registration' >Registration</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/address'> Address </a></li>
      <li><a class='nav-link' rouretLinkActive='active' routerLink='/admin'></a></li>
    </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
   <app-getall-registration></app-getall-registration> <!--this should be removed -->
   <app-getall-address></app-getall-address>   <!-----  this should be removed -->
  <app-add-registrtion></app-add-registrtion>

</div>
<app-get-creditcard></app-get-creditcard>
<app-creditcard></app-creditcard>