<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    
      <li><a routerLink='/getallreigistration'>Registrations List</a></li><br>
      <li><a routerLink='/creditcard'>CreditCard</a></li>
      <li><a routerLink="/getcreditcard">CreditCard List</a></li>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>





