<div class="col-md-6 user-container">
    <h2 style="margin: auto"> Registration Details</h2>
    <!-- <button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button> -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Date Of Birth</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reg of registration">
        <td class="hidden">{{reg.userId}}</td>
        <td>{{reg.firstName}}</td>
        <td>{{reg.;lastName}</td>
        <td>{{reg.dateOfBirth}}</td>
        <td>{{reg.phoneNo}}</td>
        <td>{{reg.email}}</td>
        <!-- <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
          <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td> -->
      </tr>
      </tbody>
    </table>
  </div>
  
