<div>
    <h3>Enter TransactionId</h3>
    <input type="number" [(ngModel)]="id">
</div>
<button (click)="onSubmit()">submit</button>
<table class="table"  >
    <thead>
        <tr >
            <th>Card Number</th>
            <th>Transaction Date</th>
            <th>Description</th>
            <th>Debited Balance</th>
            <th>Reedim points</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{transaction.cardNo}}</td>
            <td>{{transaction.transactionDate}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.debitedBalance | currency:'INR'}}</td>
            <td>{{transaction.redeemPoints}}</td>
        </tr>
    </tbody>
</table>
