@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

div.card-header {
    font-size: large;
   }
   
   div.card {
     margin-top: 10px
   }
   
   .table {
     margin-top: 10px
   }
   
   a {
     text-decoration: none; 
   }
   a:hover {
     text-decoration: underline;
   }